@charset "UTF-8";
html {
  box-sizing: border-box;
  color: #645164;
  font-family: "Roboto", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #6f496e;
  background: linear-gradient(to bottom, #6f496e 1%, #d77f6b 100%);
  padding: 2.5em 0;
  min-height: 100vh;
}

h1, h2 {
  font-family: "Playfair Display", Georgia, Times, "Times New Roman";
  font-weight: 700;
  margin: 0 0 0.35em;
}

p {
  font-size: 0.875em;
  margin: 0 0 1.375em;
}

button {
  background: none;
  border: none;
  -webkit-appearance: none;
}

.container {
  box-shadow: 5px 9px 40px rgba(0, 0, 0, 0.3);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.destination {
  display: flex;
  width: 100%;
  min-height: 784px;
}

.destination-locale,
.destination-details {
  padding: 2.5em 0 2.5em 3.3333333333%;
  width: 47.5%;
}

.destination-locale {
  background: url("harsh-jain-3EwYQ09ZHh8-unsplash.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.destination-locale header {
  display: flex;
}

.destination-card {
  padding-top: 0.5625em;
  padding-right: 1.25em;
}

.destination-number,
.destination-country {
  color: rgba(255, 255, 255, 0.4);
  display: block;
}

.destination-number {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  text-align: right;
}

.destination-country {
  font-size: 0.75em;
  line-height: 1;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: bottom right;
}

.destination-title {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 0.5625em;
  padding-left: 1.25em;
}
.destination-title h1 {
  color: #ffffff;
  line-height: 1;
  font-size: 3.75em;
}
.destination-title .meta {
  color: #e9dddd;
  display: block;
  font-size: 0.75em;
}

.destination-details {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}
.destination-details h2 {
  color: #6f496e;
  font-size: 1.875em;
}

.video {
  border: 10px solid #ffffff;
  border-radius: 50%;
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: 60px;
  left: -55px;
}
.video img {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: auto;
}
.video svg {
  display: block;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-left: -21px;
}

.gutter {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-right: 7.4074074074%;
  padding-left: 3.75em;
  position: relative;
}
.gutter:before {
  content: "";
  display: block;
  width: 50px;
  position: absolute;
  top: 5px;
  left: 0;
  border-top: 1px solid #6f496e;
}

.nav {
  background-color: #d77f6b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5em 0;
  width: 5%;
}
.nav .toggle,
.nav .next {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.nav .toggle svg,
.nav .next svg {
  position: absolute;
  top: 0;
  left: 0;
}
.nav .toggle,
.nav .toggle svg {
  width: 28px;
  height: 20px;
}
.nav .next {
  position: relative;
  top: -8px;
}
.nav .next,
.nav .next svg {
  width: 20px;
  height: 13px;
}

.options {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: auto;
  margin-bottom: 0;
  padding: 0;
}
.options .like,
.options .like svg {
  width: 20px;
  height: 18px;
}
.options .share {
  margin-left: 0.625em;
}
.options .share,
.options .share svg {
  width: 21px;
  height: 18px;
}
.options .more {
  color: #d77f6b;
  font-size: 0.75em;
  text-decoration: none;
  text-transform: uppercase;
}
.options .more:before {
  content: "";
  border-bottom: 1px solid #d77f6b;
  display: inline-block;
  margin-right: 6px;
  width: 40px;
}

.carousel {
  margin-right: -11.2962962963%;
  padding: 3.25em 0 1.875em 3.75em;
}

.carousel-cell {
  background: #fafafa;
  margin-left: 10px;
  width: 35%;
}

.carousel-cell img {
  display: block;
  width: 100%;
  height: auto;
}

/*
Rating Stars credit goes to: https://codepen.io/jamesbarnett/pen/vlpkh
*/
fieldset, label {
  margin: 0;
  padding: 0;
}

.rating {
  border: none;
  margin-right: auto;
  margin-top: -1px;
  position: relative;
  z-index: 1;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 3px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "";
}

.rating > .half:before {
  content: "";
  position: absolute;
}

.rating > label {
  color: #c5a7c3;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #6f496e;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #6f496e;
}